# Ignore node_modules in backend and frontend
/backend/node_modules/
/frontend/node_modules/

# Ignore .env files but not .env.example
/backend/.env
/frontend/.env

#Ignore .log files
/backend/logs/*.log

#Ignore upload dir
/backend/uploads/*