@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white;
}

:root {
  --primary-color: #d90aa5;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}